body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
}
.pantallita{
    display: grid;
    place-items: center;
    height: 100vh;
}
.grid2{
    background-color: antiquewhite;
    color:#567C8D;
    padding: 3em;
    border: 1px solid antiquewhite;
    border-radius: 10px;
    transition: 400ms;
    display: grid;
    box-shadow: 5px 5px 5px rgba(159, 83, 161, 0.685);

}
.grid3{
    text-align: center;
}

h1{
    text-align: center;
}

@media (min-width:992px){
    .pantallita{
        grid-template-columns: 1fr;
    }
}