/*
color fondo: #F5EFEB (beige)
color nav: #2F4156 (navy)
color letras: #567C8D (celeste oscuro)
color letras 2: #C8D9E6
blanco: #FFFFFf
*/
body{
    background-color: #F5EFEB;

}
.encabezado{
    background-color: #2F4156;
    margin: 0;
    padding: 0;
}
.enctitulo{
    font-family: serif;
    text-align: center;
}
.wrapper {
    margin: 0 auto;
    padding: 0 10px;
}

.inicio-image{
    height: 580px;
    padding-top: 1px;
    background-image: url(../img/dadad.jpg);
    background-size: cover;
}

.h2inicio {
    margin: 180px 0 40px 0;
    font-weight: 300;
    color: #F5EFEB;
    text-shadow: 2px 2px #2F4156;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
.pInicio{
    margin: 0px 0 40px 0;
    color: #2e2e2e;
    text-shadow: 2px 2px none;
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.card, .espacio1, .espacio2, .espacio3{
    background-color:#567C8D;
    color:#d4effc ;
    padding: 1em;
    border: 1px solid #567C8D;
    border-radius: 10px;
    transition: 400ms;
    display: grid;
}

.espacio1:hover{
    background-color: #2F4156;
    color: #F5EFEB;
}

.espacio2:hover{
    background-color: #2F4156;
    color: #F5EFEB;
}
.espacio3:hover{
    background-color: #2F4156;
    color: #F5EFEB;
}

.card-title1:hover{
    color:#F5EFEB;
    font-size: 25px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.espacio1 h3.card-title a, .espacio2 h3.card-title a, .espacio3 h3.card-title a{
    color: #F5EFEB; 
    text-decoration: none;
}

.espacio1 p, .espacio2 p, .espacio3 p{
    color: #F5EFEB;
}

.espacio2:hover h3.card-title a, .espacio2:hover p, .espacio1:hover h3.card-title a, .espacio1:hover p, .espacio3:hover h3.card-title a, .espacio3:hover p{
    color: white;
}

.parrafo{
    font-size: 18px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.contenedorcartas{
    display: grid;
    gap: 1em;
}

.contenedorcartas2{
    display: grid;
    gap: 1em;
    margin-top: 1em;
}

.contenedorheader{
    display: grid;
    gap: 1em;
}

h2{
    color: #F5EFEB; 
    font-size: 25px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 0px;
}

.listanav{
    margin-bottom: 10px;
    background-color:#567C8D;
    border: 1px solid;
    color: #F5EFEB;
    border-radius: 10px;
    display: flex;
    padding: 0.5em;
    list-style-type: none;
    font-size: 18px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.listanav li{
    margin-right: 40px;
    margin-left: 20px;
}

.listanav li:hover{
    background-color: #2F4156;
    color: #F5EFEB;
    transition: 400ms;
    border-radius: 20px;
}
.cardimg{
    border-radius: 10px;
    text-align: center;
    object-fit: cover;

}

footer{
    margin-top: 60px;
    background-color: #2F4156;
}

@media (min-width:992px){
    .contenedorheader{
        grid-column: auto;
    }
    .contenedorcartas2{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .conteiner{
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

}

.conteiner{
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
}

.grid{
    display:grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.item{
    background-color: white;
    border-radius:10px ;
    padding: 20px;
    color: black
}

.item img{
    width: 50px;
    height: 50px;
    margin: 0;
}

.iconos{
    grid-template-columns: (4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.iconos img{
    width: 40px;
    height: 40px;
}